---
import Section from "@/components/Section.astro";
import {projects} from "@cv"
import ProjectCard from "@/components/ProjectCard.astro";
---
<Section title="Proyectos">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {projects.map((item) =>
                <ProjectCard project={item}/>
        )}
    </div>
</Section>
